<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="MJP Ruleset" Description="Custom ruleset that removes dumb rules." ToolsVersion="14.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1026" Action="None" />
  </Rules>
</RuleSet>