<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dllmap dll="bgfx.dll" os="windows" target="bgfx.dll"/>
	<dllmap dll="bgfx.dll" os="linux" target="bgfx.so"/>

	<dllmap dll="bgfx_debug.dll" os="linux" target="bgfx_debug.so"/>
	<dllmap dll="bgfx_debug.dll" os="windows" target="bgfx_debug.dll"/>
</configuration>